html {
    color-scheme: dark;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background: -webkit-linear-gradient(135deg, #0000b0,#000080,#000050,#000020);
    background: linear-gradient(135deg, #0000b0,#000080,#000050,#000020);
    /* display: flex;
    flex-direction: column;
    min-height: 100%; */
}