<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pokédex</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="shortcut icon" href="../static/icons/mdi--pokeball.svg">
</head>
<body>
    <header></header>
    <main>
        <div class="container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
            <img src="../static/imgs/mii.png" alt="portrait" height="500px" width="500px">
        </div>
    </main>
    <footer></footer>
</body>
</html>
